<app-search></app-search>
<div class="relative overflow-x-auto p-4">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Workouts
                </th>
                <th scope="col" class="px-6 py-3">
                    Number of Workouts
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Workout Minutes
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let data of userData">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{data.name}}
                </th>
                <td class="px-6 py-4">
                    {{data.workouts}}
                </td>
                <td class="px-6 py-4">
                    {{data.numberOfWorkouts}}
                </td>
                <td class="px-6 py-4">
                    {{data.totalWorkoutMinutes}}
                </td>
            </tr>
        </tbody>
    </table>
</div>